<div ng-include="'components/navbar/navbar.html'"></div>

<header id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">You're ready! Go on and make your app!</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
          <h1>Get in, its cold out there!</h1>
          <p>Easily create your new routes on your terminal using the yo commands</p>
          <p>Update and install your assets using bower (already avaible on your machine!)</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Anboil |
        <a href="https://github.com/gfviegas">gfviegas</a> |
         <a href="https://github.com/gfviegas/anboil/issues?state=open">Issues</a></p>
  </div>
</footer>
